{% extends "layout.html" %}
{% block title %}
<title>Secured Chat</title>
{% endblock %}
{% block content %}
<div align="center">
    <h1>Secured Room Chat</h1>
    To create a secure room use - <h2> {{key}} </h2>
</div>


<div class="container">
    <style>
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 100%;
    background-color: #e4a51f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #dd0e0e;
    }

    div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }
    </style>

    <form id="post-form" method="POST" action="checkview">
        <input type="text" name="room_name" id="room_name" placeholder = 'Enter Room Secret Key'width="100px" />
        <input type="submit" value="Enter Room">
    </form>
</div>
{% endblock %}
