{% extends "layout.html" %}
{% block title %}
<title>Login</title>
{% endblock %}
{% block content %}
<div class="container">
    {% if form.email.errors %}
        {% for error in form.email.errors %}
            <span> {{ error }}</span>
        {% endfor %}    
    {% endif %}
    {% if form.password.errors %}
        {% for error in form.password.errors %}
            <span> {{ error }}</span>
        {% endfor %}    
    {% endif %}
        <style>
            .input{
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            .submit{
                width: 100%;
                background-color: #e4a51f;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            .submit:hover {
                background-color: #dd0e0e;
            }

        </style>
    <form method="POST" action="">

        {{ form.hidden_tag() }}
            
        <label>{{ form.email.label }}</label>
            {{ form.email(class="input") }}

        <label>{{ form.password.label }}</label>
            {{ form.password(class="input") }}
        <label>{{ form.remember.label }}</label>
        {{ form.remember(class="checkbox") }}
        {{ form.submit(class="submit") }}

    </form>
    <h2> Forgot Password? <a href="{{ url_for('login')}}">Click</a></h2>
</div>
{% endblock %}
